trunk/Photographer2/src/config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="config" type="configType" />
  
  <xsd:complexType name="configType">
    <xsd:sequence>
      <xsd:element name="menu" type="menuType" />
      <xsd:element name="categories" type="categoriesType" />
      <xsd:element name="picturesets" type="picturesetsType" />
      <xsd:element name="textset" type="textsetType" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="textsetType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="text" type="textType" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="textType">
    <xsd:sequence>
      <xsd:element name="style" type="styleType" />
    </xsd:sequence>
    <xsd:attribute name="key" type="xsd:string" />
    <xsd:attribute name="bgUrl" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:complexType name="styleType">
    <xsd:attribute name="top" type="xsd:int" />
    <xsd:attribute name="left" type="xsd:int" />
    <xsd:attribute name="color" type="xsd:string" />
    <xsd:attribute name="fontSize" type="xsd:int" />
    <xsd:attribute name="textAlign" type="xsd:string" />
    <xsd:attribute name="width" type="xsd:int" />
    <xsd:attribute name="height" type="xsd:int" />
    <xsd:attribute name="backgroundColor" type="xsd:string" />
    <xsd:attribute name="backgroundAlpha" type="xsd:decimal" />
  </xsd:complexType>
  
  <xsd:complexType name="picturesetsType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="pictureset" type="picturesetType" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="picturesetType">
    <xsd:sequence>
      <xsd:element name="pictures" type="picturesType" />
    </xsd:sequence>
    <xsd:attribute name="key" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:complexType name="picturesType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="picture" type="pictureType" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="pictureType">
    <xsd:attribute name="url" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:complexType name="categoriesType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="category" type="categoryType" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="categoryType">
    <xsd:sequence>
      <xsd:element name="subcategories" type="subcategoriesType" />
    </xsd:sequence>
    <xsd:attribute name="key" type="xsd:string" />
    <xsd:attribute name="thumbWidth" type="xsd:int" />
    <xsd:attribute name="scaleFrom" type="xsd:decimal" />
    <xsd:attribute name="scaleTo" type="xsd:decimal" />
  </xsd:complexType>
  
  <xsd:complexType name="subcategoriesType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="subcategory" type="subcategoryType" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="subcategoryType">
    <xsd:attribute name="picUrl" type="xsd:string" />
    <xsd:attribute name="name" type="xsd:string" />
    <xsd:attribute name="description" type="xsd:string" />
    <xsd:attribute name="setref" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:complexType name="menuType">
    <xsd:sequence>
      <xsd:element name="entries" type="entriesType" />
    </xsd:sequence>
    <xsd:attribute name="buttonWidth" type="xsd:int" />
    <xsd:attribute name="color" type="xsd:string" />
    <xsd:attribute name="alpha" type="xsd:decimal" />
    <xsd:attribute name="logoUrl" type="xsd:string" />
    <xsd:attribute name="extra" type="xsd:string" />
  </xsd:complexType>
  
  <xsd:complexType name="entriesType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="entry" type="entryType" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="entryType">
    <xsd:sequence>
      <xsd:element name="entries" type="entriesType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="label" type="xsd:string" />
    <xsd:attribute name="imageUrl" type="xsd:string" />
    <xsd:attribute name="color" type="xsd:string" />
    <xsd:attribute name="action" type="xsd:string" />
  </xsd:complexType>
  
</xsd:schema>